/* NumberHistory.css */
.number-history {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 5rem;
  width: 30%;
  height: auto;
  background-color: rgba(39, 81, 34, 0.8);
  color: white;
  position: absolute;
  left: 740px;
  border-radius: 30px;
}

.number-history h3 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.history-list {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}

.history-item {
  width: 30px;
  height: 30px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #fdfdfd;
}

.history-item.red {
  background-color: #d44;
  color: white;
}

.history-item.black {
  background-color: #444;
  color: white;
}
